* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#one{
    background-color: #942f2f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    font-size: larger;
}
nav ul {
    height: 10vh;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
   
}

nav li a {
    color: aliceblue;
    text-decoration: none;
}


/*menu dropdown*/
nav li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    height: 100%;
    z-index: 1; /* Adicionando z-index para controlar a sobreposição */
}

nav li ul li {
    clear: both;
    width: 100%;
    background-color:  #333;
}

nav ul li:hover,
nav ul li:focus-within {
    background-color: rgb(255, 255, 255);
    color: #333;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}



nav a:hover {
    color: #000000;
}
rgb(0, 0, 0)
/* Controla exibição do menu-dropdown */
nav ul:hover>ul,
nav ul li:focus-within>ul,
nav ul li ul:hover,
nav ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
    z-index: 2; /* Ajustando z-index para que o menu dropdown esteja acima de outros elementos */
}

/*espaço das noticias*/
h1{
    margin-left: 3vh;
}
.noticias{
    display: flex;
    justify-content: center;
    margin-bottom: 23vh;
}
.cards{
    width: 140vh;

    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);  
    display: flex;
    justify-content: space-between;
   flex-wrap: wrap;
}

.cards .card{
   width: 60vh;
   height: 87vh;
   margin: 5vh;
  border: none;
 
}

.card img{
    width: 60vh;
    height: 50vh;
}

.card .text-noticia,
p{
    margin-top: 3vh;
}

.card h2{
    font-weight: 600;
}

.cards .btn {
    width: 100%;
    height: 8vh;
    margin-bottom: 2vh;
}

.btn button{
    background-color: #ff3838;
    color: white;
    height: 6vh;
    width: 40vh;
    border-radius: 7vh;
    border: none;
}


.artigos-recente{
    width: 70vh;
    height: 160vh;
    margin-left: 5vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);;

}


footer{
    background-color:  rgba(15, 15, 15, 0.6);
 
}